.bg1,
.nft-icon {
  position: absolute;
}
.bg1 {
  top: 0;
  left: 0;
  background-color: #fff;
  width: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.nft-icon {
  top: 217.93px;
  left: 907.2px;
  width: 275.92px;
  height: 434.61px;
}
.back-layer-icon5,
.hero {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.hero {
  backdrop-filter: blur(4px);
}
.back-layer-icon5 {
  object-fit: cover;
}
.an-ecosystem-of,
.eco-route {
  position: absolute;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.eco-route {
  top: 38px;
  left: 352px;
  line-height: 106px;
  text-align: center;
  display: flex;
  align-items: center;
  width: 1344px;
  height: 262px;
}
.an-ecosystem-of {
  top: 907px;
  left: 205px;
  font-size: 32px;
  line-height: 45px;
  font-family: Lusitana;
  color: #f4f4f5;
  display: inline-block;
  width: 1030px;
  height: 101px;
  opacity: 0.8;
}
.icon13 {
  position: absolute;
  top: 856px;
  left: 1329px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.get-started-page-child {
  position: absolute;
  top: 697px;
  left: 546px;
  border-radius: 50px;
  background-color: #000;
  width: 361px;
  height: 115px;
}
.button-name13 {
  position: relative;
  line-height: 24px;
}

.icon14 {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button-name-parent10,
.get-started-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-name-parent10 {
  flex-direction: row;
  gap: 9px;
}
.get-started-button {
  position: absolute;
  top: 697px;
  left: 546px;
  border-radius: 50px;
  background-color: #34c700;
  width: 361px;
  height: 115px;
  flex-direction: column;
  padding: 16px 20px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 40px;
  color: #000;
  font-family: Poppins;
}
.get-started-page {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: center;
  font-size: 140px;
  color: #02c315;
  font-family: "Crete Round";
}
